<h1>Burger Time</h1>

<h2>Menu!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers You've Crushed!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devour This?</label><br>
    <input type="radio" name="devoured" value="1" > Devour This!<br>
    <input type="radio" name="devoured" value="0" checked> Add to the Menu<br>
  </div>

  <button type="submit">Add Burger</button>
</form>
