body {
  color: yellow;
  background-image: url(../images/burgerpic.jpg);
  background-position: fixed;
  background-repeat: none;
  background-size: cover;
}

li {
  color: black;
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
